
*{
    box-sizing: border-box;
}


html, 
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
   font-family: 'Kanit', sans-serif;
}

body {
    background: rgb(5, 5, 66);
    font-size: 2.1rem;
}


h1 {
    font-size: 4rem;
    color:hsl(308, 97%, 54%);
    margin-top: 0;
    padding: .3em 0 0;
}


img {
    max-width: 100%;
}

.wrapper {
    max-width:100%;
    width:90%;
    min-height:100vh;
    margin: 0 auto;
    border: 1px solid rgb(247, 57, 89);
    text-align: center;
   
   
}
/*////////////
carousel slides
/*/////////////

.carousel {
    position: relative;
    height: 600px;
    width: 90%;
    margin:0 auto;
    padding: .5em;
   
}

.carousel-image {
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
    // overflow: hidden;
   
 }

.carousel-slide img {
    // max-width: 100%;
    width:100%;
    height:100%;
   object-fit: contain; //crops picture.
    //  object-fit: cover; 
    object-position: center;
 }

.carousel-track-container {
    background-color: rgba(9, 48, 119, 0.479);
    height: 100%;
    position: relative;
    overflow: hidden; //imgs stacked 
    //allowing scroll-thru,
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
    -webkit-transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -ms-transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
}

.carousel-slide {//absolute postion .: can stack ontop of each other
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%; 
}

/*>>>>>>>
carousel arrow buttons
/*///////
.carousel-btn {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size:3em;
    color:hsl(231, 69%, 55%);
    cursor:pointer;

    &:hover,
    &:focus{
        color: hsl(83, 97%, 54%);
    }
 
}

.carousel-left-btn {
    left: -2%;
    z-index: 1;
}

.carousel-right-btn {
    right: -2%;
    z-index: 1;
}

/*.....
carousel RADIO btns
/*.....*/

.carousel-nav {
    // background: hotpink;
    display:flex;
    justify-content: center;
    padding: .3em;

        .carousel-indicator{
            border:0;
            // border-radius: 50%;
            // -webkit-border-radius: 50%;
            // -moz-border-radius: 50%;
            // -ms-border-radius: 50%;
            // -o-border-radius: 50%;
            width:15px;
            height: 15px;
            background: cornsilk;
            margin: 0 .5em;
            cursor: pointer;
        }

        .current-slide {
            background: hsl(241, 69%, 55%);
            }
        

}

.is-hidden {display: none;} //to hide left carousel button.